*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	background: url(crescent-4875339_1920.jpg);
	flex-wrap: wrap;
}
.block{
	flex-grow: 1;
	flex-basis: 16%;
	height: 33.33vh;
	background: rebeccapurple;
	border: 4px solid white;
}
@media (orientation: portrait){
	.block{
		flex-basis: 33.33%;
		height: 16.6666vh;
	}
}
.alpha{
	opacity: 0.3
}